.container{
    border: solid #303436;
    height: 98vh;
    width: 100%;
    display: flex;
    place-content: center;
    align-items: center;
}

.pswrd-container{
    width: 30%;
    border: solid rgb(4, 255, 0);
    display: flex;
    flex-direction: column;
    height: 95%;
    align-items: center;
    gap: 3%;
    border-radius: 10px;
}



.pswrd-container input{
    width: 70%;
    height: 3em;
    color: rgb(4, 255, 0);
    font-family: jaro;
    font-size: larger;
    margin-top: 20%;
    background-color: #181a1b;
    border: solid #303436;
}

::placeholder{
    color: #6c6c6d;
}

.pswrd-container button{
    height: 3em;
    color: rgb(4, 255, 0);
    font-family: jaro;
    font-size: larger;
    cursor: pointer;
    transition: 1s;
    background-color: #181a1b;
    border: solid #303436;
}

.pswrd-container button:hover{
    background-color: rgba(68, 70, 70, 0.958);
}

.pswrd-container h1{
    font-size: 2em;
    margin-top:10%;
    color: rgb(4, 255, 0);
}

/* Cursor */
.cursor{
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.typewriter-animation {
  animation: 
    typewriter 2s steps(50) 1s 1 normal both, 
    blinkingCursor 2000ms steps(50) infinite normal;
}

.Btn {
    width: 70px;
    height: 45px;
    background-color: rgb(65, 64, 64);
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.342);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    position: relative;
    overflow: hidden;
    transition-duration: .5s;
  }
  
  .text {
    color: rgb(4, 255, 0);
    font-weight: 800;
    letter-spacing: 1.1px;
    z-index: 2;
  }
  
  .svgIcon {
    z-index: 2;
  }
  
  .svgIcon path {
    fill: rgb(4, 255, 0);
  }
  
  .Btn:hover {
    color: rgb(230, 255, 193);
  }
  
  .effect {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(4, 255, 0);
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    transition-duration: .5s;
  }
  
  .Btn:hover .effect {
    transform: scale(15);
    transform-origin: center;
    opacity: 1;
    transition-duration: .5s;
  }
  
  .Btn:hover {
    box-shadow: 0px 0px 5px rgb(4, 255, 0),
    0px 0px 10px rgb(4, 255, 0),
    0px 0px 30px rgb(4, 255, 0);
    transition-duration: .7s;
  }
  
  .Btn:hover .text {
    color: rgb(65, 64, 64);
  }
  
  .Btn:hover .svgIcon path {
    fill: rgb(65, 64, 64);
  }

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}

#github-btn{
    font-size: larger;
    width: 10em;
    margin-top: 25em;
}

.input-and-copy-btn{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-and-copy-btn button{
    margin-top: 20%;
    /* border: transparent; */
    /* border-radius: 100%; */

}
.input-and-copy-btn button:hover{
    background-color: transparent;
}




@media (max-width: 768px) {
    .pswrd-container {
        width: 80%;
    }

    .pswrd-container input {
        width: 90%;
        margin-top: 10%;
    }

    .input-and-copy-btn {
        flex-direction: column;
        gap: 20px;
    }

    .input-and-copy-btn button {
        margin-top: 0;
    }
}


