.container{
    border: solid #303436;
    height: 98vh;
    width: 100%;
    display: flex;
    place-content: center;
    align-items: center;
}

.pswrd-container{
    width: 30%;
    border: solid rgb(4, 255, 0);
    display: flex;
    flex-direction: column;
    height: 95%;
    align-items: center;
    gap: 3%;
    border-radius: 10px;
}



.pswrd-container input{
    width: 70%;
    height: 3em;
    color: rgb(4, 255, 0);
    font-family: jaro;
    font-size: larger;
    margin-top: 20%;
    background-color: #181a1b;
    border: solid #303436;
}

::placeholder{
    color: #6c6c6d;
}

.pswrd-container button{
    height: 3em;
    color: rgb(4, 255, 0);
    font-family: jaro;
    font-size: larger;
    cursor: pointer;
    transition: 1s;
    background-color: #181a1b;
    border: solid #303436;
}

.pswrd-container button:hover{
    background-color: rgba(68, 70, 70, 0.958);
}

.pswrd-container h1{
    font-size: 2em;
    margin-top:10%;
    color: rgb(4, 255, 0);
}

/* Cursor */
.cursor{
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.typewriter-animation {
  animation: 
    typewriter 2s steps(50) 1s 1 normal both, 
    blinkingCursor 2000ms steps(50) infinite normal;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}

#github-btn{
    font-size: larger;
    width: 10em;
    margin-top: 25em;
}

.input-and-copy-btn{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-and-copy-btn button{
    margin-top: 20%;
    border: transparent;
    border-radius: 100%;

}
.input-and-copy-btn button:hover{
    background-color: transparent;
}


#copyIcon{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}



@media (max-width: 768px) {
    .pswrd-container {
        width: 80%;
    }

    .pswrd-container input {
        width: 90%;
        margin-top: 10%;
    }

    .input-and-copy-btn {
        flex-direction: column;
        gap: 20px;
    }

    .input-and-copy-btn button {
        margin-top: 0;
    }
}


